<form class="form" action="/registration" method="POST">
  <div class="row row--between">
    <label for="registration__username" class="label">Имя:</label>
    <input id="registration__username" class="input" name="username" type="text" placeholder="Имя пользователя"  tabindex="1" value="{{username}}" required>
  </div>
  <div class="row row--between">
    <label for="registration__email" class="label">E-mail:</label>
    <input id="registration__email" class="input" name="email" type="email" placeholder="E-mail" tabindex="2" value="{{email}}" required>
  </div>
  <div class="row row--between">
    <label for="registration__password" class="label">Пароль:</label>
    <input id="registration__password" class="input" name="password" type="password" placeholder="Пароль" tabindex="3" required>
  </div>
  <div class="row row--between">
    <label for="registration__city" class="label">Город</label>
    <select id="registration__city" class="input" name="city" tabindex="4" required>
      <option selected disabled>Выберите город...</option>
      {{#each cities}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  {{#if error}}
  <div class="row">
    <div class="error">{{error}}</div>
  </div>
  {{/if}}
  <div class="row row--right">
    <button type="submit" class="button" tabindex="5">Регистрация</button>
  </div>
</form>
